*{
	list-style:none;
	padding:0;
	margin:0;
}

@font-face {
    font-family: "byekan";
    src: url('../font/BYekan.eot');
    src: url('../font/BYekan.woff') format('woff');
}

body{
	font-family:"byekan";
}

nav{
	height:80px;
	width:100%;
    background:#808080;
}

nav ul{
	float:right;
	margin-right:40px;
}

nav li{
	display: inline-block;
	margin: 0 8px;
	line-height:80px;
}

nav a{
    text-decoration:none;
	color:white;
	font-size:18px;
	text-transform:uppercase;
	border: 1px solid transparent;
	padding:7px 10px;
	border-radius: 3px;
}

.listl {
    margin-left: 40px;
    list-style: initial;
    margin-right: 70px;
    font-size: 16px;
    font-family:byekan;	
}

.list2 {
    font-size: 18px;
    font-weight: bold;
    color:blue;
    text-align: right;
    margin-right:30px;
}


.img{
    margin-top: 5px;
}

.element-table {
    max-width: auto;
    margin-right:20px;
	margin-left:20px;
    text-align: justify;
    font-family: "byekan";
	margin-top: 10px;
	margin-bottom: 1px;
    direction:rtl;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.element {
    max-width: auto;
    margin-right:20px;
	margin-left:25px;
    text-align: justify;
    font-family: "byekan";
	margin-top: 1px;
	margin-bottom: 20px;
    direction:rtl;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.lbl{
    font-weight: bold;
    font-size: 28px;
}

.fnl{
    font-weight: bold;
    color: blue;
    font-size: 20px;
}

.col .btn{
    font-family: "byekan";
    width: 200px;
    background-color: cornflowerblue;
    color: white;
    height: 40px;
    font-weight: bold;
    margin-top: 5px;
    font-size: 18px;
    cursor: pointer;
	border: 1px solid transparent;
    border-radius: 3px;
    display: inline;
    margin-left: 15px;
}

.col .btn:hover{
    background-color: green;
}

.col{
	flex:25%;
	padding:10px;
	max-width: 270px;
	box-sizing:border-box;
	font-family: "byekan";
	margin-top: 5px;
	margin-right: 5px;
}

.colinf{
	flex:25%;
	padding:10px;
	max-width: 270px;
	box-sizing:border-box;
	font-family: "byekan";
	margin-top: 5px;
    margin-right: 5px;
    font-weight: bold;
}

.colinff{
	flex:25%;
	padding:10px;
	max-width: 270px;
	box-sizing:border-box;
	font-family: "byekan";
	margin-top: 0px;
    margin-right: 5px;
    font-weight: bold;
}

.table{
    width: 100%;
    border-collapse: collapse;
    border-bottom: 2px solid gray;
    border-top: 2px solid red;
}

 .table .td{
     text-align: justify;
     padding-right: 10px;
     padding-top: 10px;
     padding-left: 10px;
     vertical-align: top;
 }

 .table .td .alink{
    color: blue;
    cursor: pointer;
    text-decoration: none;
 }


nav a.active, nav a:hover{
	border:1px solid #d11e24;
	transition: .5s;
}

.DIGI{
    font-family: sans-serif;
    width: 110px;
    background-color: gray;
    color: white;
    height: 40px;
    font-weight: bold;
    font-size: 26px;
    border: 0;
    margin-top: 20px;
    margin-left: 5px;
    text-align: center;
}

.btn{
    font-family: "byekan";
    width: 130px;
    background-color: white;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
	border: 1px solid transparent;
    border-radius: 3px;
    display: inline;
    margin-top: 20px;
    margin-left: 10px;
}

nav #icon{
	float:right;
	margin-right:20px;
	margin-top:10px;
	cursor:pointer;
	display:none;
}



.footer{
	background:#808080;
	text-align: center;
	bottom: 0;
	position: fixed;
	height:25px;
	width: 100%;
	color:#ffff;
    font-size:12px;
}

.inside{
    font-weight: bold;
    font-size: 18px;
}

@media (max-width:1000px){
	nav ul{
		margin-right:20px;
	}
	nav a{
		font-size:17px;
    }
}

@media (max-width:1000px) {

    .col{
        flex: 33%;
    }
    .colinf{
        flex: 33%;
    }

    .colinff{
        flex: 33%;
    }

    nav #icon {
        display: block;
        margin-top: 20px;
        margin-right: 5px;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav a {
        font-size: 20px;
    }

    a.active, a:hover {
        border: none;
        color: #d11e24;
    }

.show {
        left: 0;
    }
}




@media (max-width: 543px) {
	.footer{ padding-left: 0; 
    margin-top:10px;}
    .table, .table tr, .table td, .table tbody{
        display: block;
        width: 100%;
    }
    .col{
        flex: 50%;
    }
    .colinf{
        flex: 50%;
    }

    .colinff{
        flex: 50%;
    }
}