*{
	text-decoration:none;
	list-style:none;
	padding:0;
	margin:0;
}

::-webkit-input-placeholder {
    color: peachpuff;
    font-size: 13px;
}
::-moz-placeholder {
    color: peachpuff;
    font-size: 13px;
}
:-ms-input-placeholder {
    color: peachpuff;
    font-size: 13px;
}
::placeholder {
    color: peachpuff;
    font-size: 13px;
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/IRANYekanWebBold.eot');
    src: url('../fonts/eot/IRANYekanWebBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../fonts/woff/IRANYekanWebBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/woff2/IRANYekanWebBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/ttf/IRANYekanWebBold.ttf') format('truetype');
}

body {
    font-size: 1vw;
    font-family: iranyekan, serif ;
}

button {
    cursor: pointer;
}

p {
    font-size: 0.8vw;  /*14px*/
    font-style: normal;
    font-weight: bold;
    line-height: 1.5vw  /*25px*/
}

input {
    direction: rtl;
    padding: 0 1%
}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
    width: 10px;

}
input:focus {
    outline-width: 0;
}
button:focus {
    outline-width: 0;
}

.center {
    text-align: center;
}

.right-text {
    text-align: right;
}

.left-text {
    text-align: right;
}
.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.third-width {
    width: 30%;
}

.quarter-width {
    width: 24%;
}

.one-fifth-width {
    width: 20%;
}

/*=======================*/

.header {
    background: #F4F4F4;
}

.header-top {
    text-align: right;
    padding: 4px 35px;
}

.header-top h1 {
    font-size: 1vw;
    font-weight: bold;
    color: #222121;
    display: inline-block;
    vertical-align: middle;
}

.header-top img {
    display: inline-block;
    vertical-align: middle;
}

.header-middle {
    background: #FFFFFF;
    color: #9A9A9A;
    padding: 25px 35px;
}

.right-nav {
    float: right;
}

nav li{
    display: inline-block;
    margin: 0 1.5vw;
}

nav li a {
    color: #9A9A9A;
    position: relative;
    font-weight: bold;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
}

nav li a.active {
    color: #205F8F;
    border-bottom: 3px solid #205F8F;
    padding-bottom: 5px;
    border-radius: 1px;
}

nav li a:focus {
    color: #205F8F;
    border-bottom: 3px solid #205F8F;
    padding-bottom: 5px;
    border-radius: 1px;
}
 nav li a:hover {
     color: #222121;
 }

nav li img {
    margin-left: 8px;
}
.mobile {
    display: none;
}
.badge {
    background: #43CC8B;
    color: #fff;
    border-radius: 100%;
    position: absolute;
    bottom: 19px;
    right: -17px;
    padding: 2% 5%;
    width: 18%;
    text-align: center;
    font-size: 0.8vw;
}

.banner {
    width: 100%;
}


.container {
    position: relative;
}

.container h1 {
    position: absolute;
    top: 10%;
    left: 20%;
    color: #ffffff;
    font-size: 1.5vw;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.container h1 span {
    font-size: 2.5vw;
}

.btn-search {
    width: 5%;
    position: absolute;
    left: 30.5%;
    top: 7%;
    padding: 1% 0% !important;
}



.btn {
    text-align: center;
    font-size: 0.8vw;
    font-weight: bold;
    padding: 4% 7%;
    line-height: 10px;
    background: #205F8F;
    box-shadow: 0px 4px 6px rgba(196, 196, 196, 0.44);
    border-radius: 4px;
    border: 0;
    color: #ffffff;
    font-family: iranyekan, serif!important; ;
}

.email-btn {
    width: 9%;
    position: absolute;
    left: 30.5%;
    top: 18%;
    padding: 1% 0% !important;
    background: #FFFFFF;
    border: 2px solid #205F8F;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(196, 196, 196, 0.44);
    border-radius: 4px;
    color: #205F8F;
}

.btn-new {
    /*width:30%;*/
    /*height: 10%;*/
}

.btn-popular {
    /*width:30%;*/
    /*height: 10%;*/
}

.element-table-home>* {
    float: right;

}

.element-table-home {
    position: absolute;
    width: 60%;
    bottom: 0;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border-radius: 4px;
    padding: 2%;
    left: 17%;
}


.col h4 {
    font-style: normal;
    font-weight: 800;
    font-size: 1vw;
    color: #205F8F;

}

.col p {
    font-style: normal;
    font-weight: bold;
    /*font-size: 16px;*/
    text-align: center;
    color: #94B2C9;
}
.col {
    text-align: center;
    position: relative;
    margin: 0 2%;
}

.col img {
    width: 40%;
}

.back-circle {
    position: absolute;
    left: 43%;
}

.search-box {
    position: relative;
}

.email-box {
    position: relative;
}

.search-box-container {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 10%;
    text-align: center;
    margin-top: 2%;
}
.search {
    /*position: absolute;*/
    width: 38%;
    height: 3vw;
    left: 30%;
    top: 20%;
    background: #FFFFFF;
    border-radius: 4px;
    border: 0;
    font-family: iranyekan, serif !important;
}

.email {
    width: 40%;
    height: 3vw;
    left: 30%;
    top: 20%;
    background: #FFFFFF;
    border-radius: 4px;
    border: 0;
    font-family: iranyekan, serif !important;
}

.search::placeholder {

    background-image: url("../img/search.png");
    background-position: 95% 80%;
    background-repeat: no-repeat;
    color: transparent;
    width: 10px;
    /*text-indent: -9999px;*/
}

.email::placeholder {
    background-image: url("../img/email-img.png");
    background-position: 95% 0;
    background-repeat: no-repeat;
    color: transparent;
    /*text-indent: -9999px;*/
}


.search-img {

    width: 2%;
    /* height: 20px; */
    left: 67%;
    top: 291px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    /* background: red; */
    z-index: 1;
}

.content {
    /*padding: 5% 4%;*/
    background: #E5E5E5;
}

.content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    color: #205F8F;
    float: right;
}

/*.content-title:after {*/
    /*content: '';*/
    /*display: table;*/
   /*clear: both;*/
/*}*/

.content-about-us {
    position: relative;
}
.content-about-us img {
    width: 100%;
}

.content-about-us p {
    position: absolute;
    top: 20%;
    width: 50%;
    right: 3%;
    text-align: right;
    color: #6B6A6A;
}
.content-title div {
    color: #205F8F;
    border-bottom: 3px solid #205F8F;
    padding-bottom: 5px;
    border-radius: 1px;
    width: 80%;
    float: right;
}

.content-new a {
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    color: #205F8F;
}
.black {
    color: black;
}
.content-new {
    padding: 0 10%;
}

.content-new-previews>* {
    float: right;
}

.content-new-previews {
    margin-top: 3%;
}

.content-new-previews:after {
    content: '';
    display: table;
    clear: both;
}

.preview {
    text-align: center;
    position: relative;
    margin: 0;
    transition: margin-top 0.3s ease-in-out;
    transition-timing-function: ease-in-out;
}

.preview h2 {
    position: absolute;
    top: 47%;
    left: 50%;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;

    color: #FFFFFF;
    transform: translate(-50%, -50%);
}

.preview h1 {
    position: absolute;
    width: 80%;
    right: 14%;
    top: 55%;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;

    color: #000000;
    text-align: right;
}


.preview button {
    position: absolute;
    bottom: 17%;
    right: 14%;
}

.preview img {
    width: 100%;
}

.course-img {
    position: absolute;
    left: 25%;
    top: 12%;
}


.absolute {
    position: absolute;
}

.relative {
    position: relative;
}
.plus {
    font-size: 1vw;
    line-height: 20%;
    vertical-align: bottom;
}

.price {
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;

    color: #43CC8B;
}

.new-price {
    position: absolute;
    width: 32%;
    /* height: 25px; */
    left: 14%;
    bottom: 17%;
}


.btn-more-info {
    position: absolute;
    top: 50%;
    right: 30%;
    width: 10%;
    background: #D5E7F5;
    color: #205F8F;
    padding: 1%;

}

.content-most-popular {
    position: relative;
    background: linear-gradient(to right ,  #31c4cb, #330b6b);
    padding: 2% 5%;

}

.content-most-popular>* {
    float: right;
    margin: 0 1%;
}

.content-most-popular:after {
    content: '';
    display: table;
    clear: both;
}

.content-most-popular-right-section {
    right: 8%;
    top: 10%;
    text-align: center;
}

.content-most-popular-right-section>* {
    margin-bottom: 32px;
}

.content-most-popular h3 {
    font-size: 1.5vw;
    color: #FFFFFF;
}

.show-all-btn {
    color: #205F8F;
    background: #FFFFFF;
}

.footer {
    background: #F6F6F6;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    direction: rtl;
    padding: 2% 20%;
}

.red {
    color: red;
}

.footer p {
    font-size: 1vw;
}

.footer>* {
    margin-bottom: 2%;

}

.btn-new:hover, .btn-popular:hover, .btn-search:hover {
    background: linear-gradient(261.44deg, #205F8F -29.09%, rgba(83, 174, 243, 0.72) 102.54%);
    box-shadow: 0px 4px 6px rgba(196, 196, 196, 0.44);
}

.btn-new:focus, .btn-popular:focus, .btn-search:focus {
    background: #5887AB;
    box-shadow: 0px 4px 6px rgba(196, 196, 196, 0.44);
    border-radius: 4px;
}

.email-btn:hover {
    background: #205F8F;
    color: white;
}
.email-btn:focus {
    background: #205F8F;
    color: white;
}

.btn-more-info:hover {
    background: linear-gradient(84.98deg, #D5E7F5 4.93%, rgba(0, 144, 255, 0.58) 100%);
}
.btn-more-info:focus {
    background: linear-gradient(84.98deg, #D5E7F5 4.93%, rgba(0, 144, 255, 0.58) 100%);
}

.social-img:hover, .back-circle:hover {
    opacity: 0.5;
}

.preview:hover {
    margin-top: -5px;
}

.desktop-hide {
    display: none;
}

/*=================mobile==================*/

@media only screen and (max-width: 780px) {


        /*======= hamburger menu=========*/



    /* header */

    .header-nav {
        position: relative;
        width: 100%;
        z-index: 3;
    }

    .header-nav>* {
        color: #dddddd !important;
    }
    .mobile-profile {
        width: 50%;
    }

    .mobile-profile>* {
        margin: 3%;
    }
    .mobile-profile img {
        width: 10%;
        opacity: 0.5;
    }

    .header-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
    }

    .header-nav li a {
        display: block;
        padding: 20px 20px;
        border-right: 1px solid #f4f4f4;
        text-decoration: none;
        text-align: right;
    }



    .header-nav .logo {
        /*display: block;*/
        /*float: left;*/
        /*font-size: 2em;*/
        /*padding: 10px 20px;*/
        /*text-decoration: none;*/
    }

    /* menu */

    .header-nav .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    /* menu icon */

    .header-nav .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 1% 5%;
        position: relative;
        user-select: none;
    }

    .header-nav .menu-icon .navicon {
        background: #dddddd;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
    }

    .header-nav .menu-icon .navicon:before,
    .header-nav .menu-icon .navicon:after {
        background: #dddddd;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .header-nav .menu-icon .navicon:before {
        top: 5px;
    }

    .header-nav .menu-icon .navicon:after {
        top: -5px;
    }

    /* menu btn */

    .header-nav .menu-btn {
        display: none;
    }

    .header-nav .menu-btn:checked ~ .menu {
        max-height: 240px;
    }

    .header-nav .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .header-nav .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .header-nav .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .header-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }

    /* 48em = 768px */

    @media (min-width: 48em) {
        .header-nav li {
            float: left;
        }
        .header-nav li a {
            padding: 20px 30px;
        }
        .header-nav .menu {
            clear: none;
            float: right;
            max-height: none;
        }
        .header-nav .menu-icon {
            display: none;
        }
    }

    /*=================*/




    h1,h2,h3,h4 {
        font-weight: bold!important;
    }
   .header-top h1 {
       font-size: 2.5vw;
   }

    .right-nav, .left-nav {
        display: none;
    }

    .header-top {
        padding: 1% 3%;
    }

    .badge {
        bottom: 50%;
        left: 6%;
        padding: 2%;
        width: 7%;
        text-align: center;
        font-size: 2vw;
    }

    .left-nav {
        opacity: 0.7;
    }
    .left-nav span {
        display: none;
    }
    .banner {
        display: none;
    }

    .container h1 {
        display: none;
    }

    .search-box-container, .element-table-home {
        position: relative;
    }
    .header-middle {
        padding: 5vw 1vw;
    }
    .btn-search {
        width: 18%;
        position: absolute;
        left: 10.5%;
        top: 16%;
        padding: 2% 0% !important;
        font-size: 2.5vw;
    }
    .search {
        width: 80%;
        height: 10vw;
        left: 30%;
        top: 20%;
        background: #FFFFFF;
        border-radius: 4px;
        border: 0;
        box-shadow: 0px 1px 10px rgba(221, 221, 221, 0.82);
        font-family: iranyekan, serif !important;
    }
    .header {
        background: #ffffff;
    }

    .element-table-home .col {
        width: 50%;
    }
    .element-table-home:after {
        content: '';
        display: table;
        clear: both;
    }
    .element-table-home {
        width: 100%;
        left: 0;
        padding: 0;
    }
    .col {
        margin: 0;
    }
    p {
        line-height: 5vw;
    }
    .col h4, p {
        font-size: 3.5vw;
        margin-top: 5%;
    }

    .element-table-home .one-fifth-width {
        width: 50%;
        margin-top: 8%;
    }
    .content-new {
        padding: 2%;
    }
    .content-new  a {
        display: none;
    }
    .content-new h3 {
        font-size: 3vw;
    }

    .desktop-hide {
        display: block;
        width: 10px;
        height: 10vw;
    }



    .preview {
        width: 50%;
    }
    .preview h2  {
        font-size: 2vw;
    }

    .preview button,span {
        font-size: 2vw;
    }
    .preview h1 {
        font-size: 2vw;
    }
    .preview span {
        font-size: 3vw;
    }
    .btn {
        padding: 2vw 4vw;
    }

    h3 {
        font-size: 3vw!important;
    }
    .content {
        background: #ffffff;
    }

    .content-about-us {
        padding: 2%;
    }
    .content-about-us p {
        width: 100%;
    }

    .content-about-us-img {
        display: none;
    }

    .content-about-us p {
        position: initial;
    }

    .mobile {
        display: block;
    }

    .content-about-us-mobile-img
    {
     width: 80%;
     margin: auto;
    }
    .btn-more-info {
        position: initial;
        width: 40%;
        font-size: 3vw;
    }

    .content-most-popular .first {
        display: block!important;
        margin: 1%;
    }
    .content-most-popular .preview {
        display: none;
    }

   .content-most-popular h1 {
       font-size: 3vw;
   }
    .content-most-popular h3 {
        font-size: 3vw;
    }

    .content-most-popular-right-section {
        width: 45%;
        margin-top: 10%;
    }
    .content-most-popular-right-section>* {
        margin-bottom: 3vw;
    }
    .content-most-popular .show-all-btn {
        font-size: 3vw;
        box-shadow: 0 0;
    }
    .content-most-popular {
        padding:  0;
    }
     .footer {
         padding: 2% 3%;
     }
    .footer p {
        font-size: 3vw;
    }
    .footer p span {
        font-size: 3.5vw;
    }

    .footer .email {
        width: 85%;
        height: 10vw;
    }

    .footer .email-btn {
        width: 20%;
        font-size: 3vw;
        left: 10%;
    }

    .show-all-btn-fix {
        height: 100%;
        width: 7vw;
        background: rgba(0, 0, 0, 0.34);
        position: absolute;
        left: -1vw;
    }

    .show-all-btn-fix img {
        margin-top: 25vw;
        margin-left: 13%;
        width: 41%;
        z-index: 1;
    }



}