<!--{%load static%}-->
<!DOCTYPE html>
<html dir="ltr">
<script lang="javascript">
	function py(){
		location.replace("/viewcourse/10001/");
	}
</script>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/css/rg_style.css">
	<link rel="stylesheet" href="../static/css/home_style.css">
	<script src="{% static 'js/jquery-3.4.1.js'%}"></script>
	<script src="{% static 'js/home_script.js'%}"></script>
</head>
<body>
<div class="header">
	<div class="header-top">
		<h1>آموزش الکترونیکی دروس دانشگاهی</h1>
		<img src="../static/img/logo.png" alt="">
	</div>
	<div class="header-middle">
		<div class="mobile">
			<header class="header-nav">
				<input class="menu-btn" type="checkbox" id="menu-btn" />
				<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
				<div class="mobile-profile relative">
					<a href="/sabad"><img src="../static/img/Group.png" alt=""><span class="badge">۴۹</span></a>
					<a href="/SMP"><img src="../static/img/user.png" alt=""></a>
				</div>

				<ul class="menu">
					<li><a href="#work">Our Work</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#careers">Careers</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</header>
		</div>
		<div class="right-nav"><nav>
			<ul>
				<li><a href="/about">درباره ما</a></li>
				<li><a href="/contact">تماس با ما</a></li>
				<li><a href="#">سوالات رایج</a></li>
				<li><a href="" class="active">خانه</a></li>
			</ul>
		</nav></div>
		<div class="left-nav">
			<nav>
			<ul>
				<li><a href="/sabad"><span>سبد درس</span> <img src="../static/img/Group.png" alt=""><span class="badge">۲</span></a></li>
				<li><a href="/SMP"><span>ورود-ثبت نام</span><img src="../static/img/user.png" alt=""></a></li>
			</ul>
		</nav>
		</div>
	</div>
	<div class="header-bottom">
		<div class="container">
		<img class="banner" src="../static/img/banner.jpg"  alt="">
		<h1>آموزش تمامی <span>دروس دانشگاهی</span> و برگزاری آزمون‌های <span>الکترونیکی</span> دروس مختلف</h1>
		<form id="form1">
			<!--{%csrf_token%}-->
			<div class ="search-box-container">
				<div class="search-box">
					<input type="text" id="sear" name="sear" onfocus="this.placeholder = ''" placeholder="دوره یا آموزش مورد نظر را جست و جو نمایید..." class="search"  />
					<button type="submit" class="btn btn-search" onclick="search()">جستجو</button>
				</div>
			</div>

			<div class="element-table-home">
				<div class="col one-fifth-width">
					<img  src="../static/img/back_circle.png">
					<img class="back-circle" src="../static/img/register.png">
					<h4 class="htext"> ثبت نام آزمون</h4>
					<p class="ptext">آزمون های استاندارد بهمراه پیش بینی رتبه واقعی شما در کنکور سازمان سنجش</p>

				</div>
				<div class="col one-fifth-width">
					<img  src="../static/img/back_circle.png">
					<img class="back-circle" src="../static/img/azmon.png">
					<h4 class="htext"> شرکت در آزمون</h4>
					<p class="ptext">سوالات تستی استاندارد بهمراه پاسخنامه تفصیلی و گزارش های مربوطه</p>
				</div>
				<div class="col one-fifth-width">
					<img  src="../static/img/back_circle.png">
					<img class="back-circle" src="../static/img/moshaver.png">
					<h4 class="htext"> مشاوره آزمون</h4>
					<p class="ptext">برنامه ریزی درسی متناسب با توانائی های داوطلب و تحلیل نتایج آزمون ها</p>
				</div>
				<div class="col one-fifth-width">
					<img  src="../static/img/back_circle.png">
					<img class="back-circle" src="../static/img/class.png">
					<h4 class="htext"> درخواست کلاس</h4>
					<p class="ptext">درخواست کلاس های رفع اشکال آنلاین گروهی و خصوصی با تدریس اساتید مجرب</p>
				</div>
			</div>

		</form>
		</div>
	</div>
</div>

<div class="content">
 <div class="content-new">
	 <h3 class="texth3 content-title"> <span class="black">جدید ترین</span>  آموزش‌ها<div></div> </h3>
	 <a href="">نمایش بیشتر</a>
	 <div class="desktop-hide"></div>
	 <div class="content-new-previews">
		 <div class="quarter-width preview">
			 <img src="../static/img/new-csharp-preview.png" alt="">
			 <h2>آموزش یادگیری ماشین</h2>
				 <h1>یادگیری ماشین</h1>
				 <button type="submit" class="btn btn-new">خرید درس+</button>
				 <span class="price new-price">رایگان</span>
		 </div>
		 <div class="quarter-width preview">
			 <img src="../static/img/new-machine-preview.png" alt="">
			 <h2>نامه نویسی پایتون</h2>
			 <h1>آموزش نامه نویسی پایتون نویسی پایتون</h1>
			 <button  onclick="py()" class="btn btn-new">خرید درس+</button>
			 <span class="price new-price">رایگان</span>
		 </div>
		 <div class="quarter-width preview">
			 <img src="../static/img/new-matlabb-preview.png" alt="">
			 <h2>آموزش نامه نویسی متلب</h2>
			 <h1>نامه نویسی متلب</h1>
			 <button class="btn btn-new">خرید درس+</button>
			 <span class="price new-price">رایگان</span>
		 </div>
		 <div class="quarter-width preview">
			 <img src="../static/img/new-c++-preview.png" alt="">
			 <h2>آموزش برنامه نویسی ++c</h2>
			 <h1>برنامه نویسی ++c</h1>
			 <button class="btn btn-new">خرید درس+</button>
			 <span class="price new-price">رایگان</span>
		 </div>
	 </div>
 </div>
 <div class="content-about-us">
	 <h3 class="texth3 content-title"> <span class="black">درباره</span>  تیم ما<div></div> </h3>
	 <div class="desktop-hide"></div>
	 <img class="content-about-us-img" src="../static/img/home-about-us.png" alt="">
	 <p>شرکت ما در زمینه ی تولید محتوا کار میکنه شرکت ما در زمینه ی تولید محتوا کار میکنه شرکت ما در زمینه ی تولید محتوا کار میکنه شرکت ما در زمینه ی تولید محتوا کار میکنه
		 تولید محتوا کار میکنه شرکت ما در زمینه ی تولید محتوا کار میکنه تولید محتوا کار میکنه شرکت ما در زمینه ی تولید محتوا کار میکنه
		 تولید محتوا کار میکنه شرکت ما در زمینه ی تولید محتوا کار میکنه تولید محتوا کار میکنه شرکت ما در زمینه ی تولید محتوا کار میکنه
	 </p>
	 <div class="mobile content-about-us-mobile-img" ><img  src="../static/img/mobile-content-about-us.png" alt=""></div>
	 <div class="center">
		 <button class="btn btn-more-info">اطلاعات بیشتر</button>
	 </div>

 </div>
 <div class="content-most-popular">
	 <div class="one-fifth-width content-most-popular-right-section">
			<h3>پرفروشترین‌ها</h3>
		 <div><button class="btn show-all-btn">نمایش همه</button></div>
			<img class="half-width" src="../static/img/book.png" alt="">
		</div>
	 <div class="first one-fifth-width preview">
		 <img src="../static/img/popular-c++-preview.png" alt="">
		 <h1>برنامه نویسی ++c</h1>
		 <button class="btn btn-popular">خرید درس+</button>
		 <span class="price new-price">رایگان</span>
	 </div>
	 <div class="mobile show-all-btn-fix">
		 <img src="../static/img/arrow.png" alt="">
	 </div>
	 <div class="one-fifth-width preview">
		 <img src="../static/img/popular-matlabb-preview.png" alt="">
		 <h1>برنامه نویسی متلب</h1>
		 <button class="btn btn-popular">خرید درس+</button>
		 <span class="price new-price">رایگان</span>
	 </div>
	 <div class="one-fifth-width preview">
		 <img src="../static/img/popular-machine-preview.png" alt="">
		 <h1>برنامه نویسی ماشین</h1>
		 <button class="btn btn-popular">خرید درس+</button>
		 <span class="price new-price">رایگان</span>
	 </div>
 </div>
</div>

<div class="footer">
	<p>  با عضویت در خبرنامه‌ سایت دی جی تات <span class="red">تخفیفات</span> و <span class="red">آموزش های جدید</span> را از دست ندهید.</p>
	<div class="email-box">
			<input  type="text"   name="email" class="email" onfocus="this.placeholder = ''" placeholder="لطفا ایمیل خود را وارد نمایید..."   />
			<button type="submit" class="btn email-btn">عضویت</button>
		</div>
	<p>دیجیتات را در شبکه‌های اجتماعی دنبال کنید.</p>
	<img class="social-img" src="../static/img/telegram.png" alt="">
	<img class="social-img" src="../static/img/instagram.png" alt="">
	<img class="social-img" src="../static/img/viber.png" alt="">
	<p>
		سایت آنلاین دیجی تات با برگزاری آزمون‌های استاندارد ،آموزش‌های الکترونیکی برنامه ریزی و برگزاری کلاس های آنلاین خصوصی و گروهی همواره در کنار شما در تلاش است تا بهترین باشید و بدرخشید
	</p>
	<img src="../static/img/enamad.png" alt="">
</div>
</body>
</html>